<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php">
	<filter>
		<whitelist>
			<directory suffix=".php">../library/</directory>
		</whitelist>
	</filter>
	<testsuites>
		<testsuite name="AllTests">
			<directory>./gatekeeper/</directory>
		</testsuite>
	</testsuites>
</phpunit>
